<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="book in books">{{book.name}}</li>
		</ul>
		<ul v-for="(book, index) in books">
			<li>书名:{{book.name}}</li>
			<li>作者:{{book.author}}</li>
		</ul>
		<span v-for="(user, index) in user" :key="index">
			{{user}}
		</span>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				books:[
					{name: 'book1',author:"author1"},
					{name: 'book2',author:"author2"},
					{name: 'book3',author:"author3"}
				],
				user: {
					name: 'userName',
					age: 19,
					gender: '男'
				}
			}
		})
	</script>
</body>
</html>